// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family

$brown-color: #1d0000;
$red-color: #dc2f33;
$red-light-color: #f8d5d6;
$red-dark-color: #6e1c2b;

$blue-color: #006cb4;
$blue-light-color: #cce2f0;



