// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  .header-inner {
    min-height: 100px;
    width: 100%;
    //background-color: rgba($brown-color, .4);
    &.sticky-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      max-width: 1140px;
      width: 100%;
      margin: auto;
      z-index: 99;
    }

    .header-logo {
      padding: 15px;
      img {
        display: block;
        margin: auto;
        max-width: 492px;
        width: 100%;
      }
    }
  }
}

/* Filter Button */

.nav {
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  overflow-sy: hidden;
  backface-visibility: hidden;
  background: #dc2f33;
  cursor: pointer;
  border: none;
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 100;
  top: 16px;
  left: 32px;

  @media(min-width: $screen-sm-min) and (max-width: $screen-md-max){
    left:20px;
  }

  &:focus {
    outline: none;
  }
  .icon-container {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .line {
    width: 42px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .line01 {
    top: 0;
    opacity: 1;
    transition-delay: 280ms;
  }
  .line02 {
    top: 7px;
    transition-delay: 240ms;
  }
  .line03 {
    top: 14px;
    transition-delay: 200ms;
  }
  .line04 {
    top: 21px;
    transition-delay: 160ms;
  }
  .line05 {
    top: 28px;
    transition-delay: 120ms;
  }
  .line06 {
    top: 35px;
    opacity: 0;
    transition-delay: 80ms;
  }
}

.active .nav .line {
  left: 28px;
}

.nav:hover {
  .line {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  .line01 {
    opacity: 0;
    transition-delay: 0ms;
  }
  .line02 {
    transition-delay: 70ms;
  }
  .line03 {
    transition-delay: 140ms;
  }
  .line04 {
    transition-delay: 210ms;
  }
  .line05 {
    transition-delay: 280ms;
  }
  .line06 {
    opacity: 1;
    transition-delay: 350ms;
  }
}

.open.nav {
  .line {
    transition: all 0.3s;
  }
  &:hover .line {
    -webkit-transform: none;
    transform: none;
  }
  .line {
    &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      background: 0;
    }
    &:nth-child(1) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 16px;
      opacity: 1;
    }
    &:nth-child(3) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 16px;
      opacity: 1;
    }
  }
}

//Nav right

.nav-right-wrap {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9;

  @media (min-width: $screen-lg-min) {
    right: calc(50% - 560px + 10px);
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    right: calc(50% - #{$screen-md/2} + 10px);
  }

  @media only screen and (max-width: $screen-sm-max) {
    top: inherit;
    z-index: 9;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: auto;
    height: 60px;
    width: 100%;
    .nav-right-wrap-inner {
      .right-nav {
        text-align: center;
        float: left;
        width: 100%;
        background: rgba($blue-light-color, .5);
        margin: 0;
        padding: 10px;

        li {
          width: 55px;
          height: 55px;
          line-height: 4px;
          display: inline-block;
          margin-bottom: 0;
          padding-top: 10px;
          position: relative;

          &.has-dropdown {
            line-height: 1;
            a {
              font-size: 10px;
              line-height: 30px;
            }
          }

          .sub-nav {
            top: -69px;
            right: -30px;
            padding-top: 10px;
            &#social-icons li a i {
              line-height: 40px !important;
            }
          }

          a {
            i {

              &.svg-icon-phone {

              }

              &.icon-envelope, &.icon-webmail {
                font-size: 25px;
                margin-bottom: 9px;
              }
              &.icon-upload {
                font-size: 36px;
              }
            }
          }
        }
      }
    }
  }

  .nav-right-wrap-inner {
    //display: table-cell;
    //vertical-align: middle;
  }
}

.right-nav {
  @extend .el__no-padding;

  li {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    list-style-type: none;
    background: $red-color;
    text-align: center;
    line-height: 70px;
    margin-bottom: 6px;
    position: relative;

    &:hover {
      background: rgba($red-color, .8);
    }

    &.has-dropdown {
      position: relative;
      a {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.7px;
        i {
          float: left;
          width: 100%;
        }
      }
    }



    a {
      display: block;
      position: relative;
      i {
        color: #273e4d;
        font-size: 35px;
        @media(min-width: 1316px) {
          &.icon-bag {
            font-size: 45px !important;
            line-height: 70px;
          }
        }

        &.icon-bag-2 {
          font-size: 38px !important;
          line-height: 70px;
        }

        &.icon-upload {
          font-size: 45px;
        }

        &.icon-envelope {
          font-size: 28px;
        }
      }
    }

    .sub-nav {
      width: 145px;
      right: 76px;
      top: 0;
      position: absolute;
      margin: 0;
      @extend .el__no-padding;
      margin: 0;
      display: none;

      &#social-icons {
        li {
          a {
            i {
              line-height: 55px;
            }
          }
        }
      }

      li {
        display: inline-block;
        line-height: 70px;
        a {
          color: #fff;
          i {
            float: left;
            width: 100%;
          }
        }
      }

    }

  }
}

// MAIN NAVIGATION

.main-navigation-wrapper {
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  max-width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #581f2b;
  transition: left .4s ease-in-out;




  &.nav-open {
    left: 0;
  }

  .main-navigation-inner {
    position: relative;
    float: left;
    width: 100%;

    .menu {
      @extend .el__no-padding;
      margin-top: 120px;
      overflow-y: auto;
      height: calc(100vh - 120px);
      &::-webkit-scrollbar {
        width: 10px;
        height: 5px;
        background-color: #eee;
        -webkit-border-radius: 0;
      }
      &::-webkit-scrollbar-thumb {
        background: #b0333a;
        -webkit-border-radius: 0;
      }
      &::-webkit-scrollbar-thumb:hover,
      &::-webkit-scrollbar-thumb:active {
        background: #b0333a;
        cursor: pointer;
      }

      li {
        list-style-type: none;
        position: relative;
        border-top: 1px solid #b0333a;

        &:last-child {
          border-bottom: 1px solid #b0333a;
        }

        &.is-active {
          > .icon-subnavigation {
            transform: rotate(180deg);
          }
        }

        &:hover {
          > i {
            background-color: rgba(#000, .2);
          }
        }

        .icon-subnavigation {
          position: absolute;
          right: 7px;
          top: 7px;
          font-size: 29px;
          color: #dc2f34;
          z-index: 99999999999;
          cursor: pointer;
          pointer-events: none;
          -webkit-transition: rotate .4s ease-in-out;
          -moz-transition: rotate .4s ease-in-out;
          -ms-transition: rotate .4s ease-in-out;
          -o-transition: rotate .4s ease-in-out;
          transition: rotate .4s ease-in-out;
        }

        a {
          display: block;
          padding: 8px 0;
          font-size: 20px;
          color: #fdede9;
          text-transform: uppercase;
          font-weight: 500;
          padding-left: 33px;
          position: relative;
          z-index: 999;
          //margin-right: 39px;

          &:hover {
            opacity: .8;
          }
        }

        .sub-menu {
          display: none;
          background-color: #dc2f34;

          > li i {
            color: #571f2b;
          }
          @extend .el__no-padding;

          li {
            &:last-child {
              border-bottom: 0;

            }

            .sub-menu {
              background-color: #eb8d7c;

              > li i {
                color: #dc2e34;
              }
              @extend .el__no-padding;
              li {
                a {
                  text-transform: none;
                }

                .sub-menu {
                  background-color: #f3b5a6;
                  li {
                    border-top: 0;
                  }
                }
              }

            }
          }
        }

      }

      .current-menu-parent.is-active {
        > .icon-subnavigation {
          transform: rotate(180deg);
        }
      }
    }
  }

  .search {
    position: absolute;
    top: 16px;
    left: 112px;
    width: 70px;
    height: 70px;
    line-height: 81px;
    background: #dc2f33;
    color: #f3b6b7;
    text-align: center;
    font-size: 40px;

  }

  #search-form {
    position: absolute;
    top: 16px;
    left: 192px;
    width: 0;
    transition: width .4s ease-in-out;

    &.active {
      width: 50%;
    }

    input {
      height: 70px;
      width: 100%;
      border: 0;
      background: transparent;
      outline: 0;
      color: #fff;
      font-size: 20px;
      color: #dc2f34;
    }
  }
}

.show-subnav {
  display: block !important;
}

.body-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  background: rgba(#1d1d1b, .7);
  display: none;
}
