@media (max-width: $screen-sm-min){
  .header-inner .header-logo {
    margin-left: 124px;
    margin-right: 29px;
    padding-top: 16px !important;
  }

  .main-content{
    margin-bottom: 100px;
  }


}

@media(max-width: $screen-phone){
  .header-inner .header-logo {
    padding-top: 28px !important;
  }
}


img{
  height: auto;
}

iframe{
  max-width: 100%;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%; 
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
