//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 0 $breadcrumb-padding-horizontal;
  margin-bottom: $line-height-computed;
  list-style: none;

  > li {
    display: inline-block;
    font-size: 12px;

    + li:before {
      // [converter] Workaround for https://github.com/sass/libsass/issues/1115
      $nbsp: "\00a0";
      content: ">"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: #333;
    }

    a{
      text-decoration: underline;
      color: #2EC1ED;
    }
  }

  > .active {
    color: #333;
  }

}
