<div class="col-md-4 col-sm-4 col-xs-12 mix">
    <div class="masonry-item">
        <div class="image-holder">
            <img src="images/news/img_1.png" alt="">
            <a href="#" class="btn-more"><i class="icon-arrow-right"></i>Meer</a>
        </div>
        <div class="item-description">
            <h3>OP DE KALENDER</h3>
            <p>Oluptatur sumque pro int que venem quis natur as aut accus et qui cus dolupti corit, tem autempos velessi.</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 mix">
    <div class="masonry-item">
        <div class="image-holder">
            <img src="images/news/img_2.jpg" alt="">
            <a href="#" class="btn-more"><i class="icon-arrow-right"></i>Meer</a>
        </div>
        <div class="item-description">
            <h3>MUZIEKDAG GROOT SUCCES</h3>
            <p>Oluptatur sumque pro int que venem quis natur as aut accus et qui cus dolupti corit, tem autempos velessi. Gluptatur sumque pro int que venem quis natur as aut accus et qui cus dolupti corit, tem autempos velessi.</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 mix">
    <div class="masonry-item">
        <div class="image-holder">
            <img src="images/news/img_3.jpg" alt="">
            <a href="#" class="btn-more"><i class="icon-arrow-right"></i>Meer</a>
        </div>
        <div class="item-description">
            <h3>STUDIEDAG GROOT SUCCES</h3>
            <p>Oluptatur sumque pro int que venem quis natur as Oluptatur sumque pro int que venem quis naturaut accus cus dolupti corit, tem autempos.</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 mix">
    <div class="masonry-item">
        <div class="image-holder">
            <img src="images/news/img_2.jpg" alt="">
            <a href="#" class="btn-more"><i class="icon-arrow-right"></i>Meer</a>
        </div>
        <div class="item-description">
            <h3>OP DE KALENDER</h3>
            <p>Oluptatur sumque pro int que venem quis natur as aut accus et qui cus dolupti corit, tem autempos velessi.</p>
        </div>
    </div>
</div>