// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------




.btn-holder{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  clear: both;
  @extend .el__basic-float;
}  

//news button
.btn-more{
  width: 70px;
  height:70px;
  text-transform: uppercase;
  background-color: #00487b;
  text-align: center;
  color: #7dadce;

  i{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #7dadce;
    font-size:15px;
  }
  
}

//Single article buttons

.btn-pdf, .btn-share{
  width: 70px;
  height:70px;
  text-align: center;
  display: inline-block;
  background-color: $red-dark-color;
  float: left;
  &:hover{
    opacity: .9;
  }
  i{
    font-size: 30px;
    color: #b45e64;
    padding-top: 10px;
    display: block;


    &.icon-share {
      font-size: 56px;
      padding-top: 5px;
      display: block;
    }
  }
  span{
    display: block;
    text-align: center;
    color: #b45e64;
    text-transform: uppercase;
    font-size: 18px;
  }
}

a.btn-share {
  margin-left: 10px;
}



.load-more{
  background-color: #00487b;
  color: #fff;
  padding:10px 8px;
  text-transform: uppercase;
  color: #7dadce;
}