// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/* This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fontshop.com */


@font-face{
  font-family:"OfficinaSerif";
      src:url("../fonts/1558251/c2d72323-f758-4542-909f-e4323c496e13.eot?#iefix");
      src:url("../fonts/1558251/c2d72323-f758-4542-909f-e4323c496e13.eot?#iefix") format("eot"),
          url("../fonts/1558251/6eeec8db-a743-4cf1-bd00-4cb3dc6c99ba.woff2") format("woff2"),
          url("../fonts/1558251/2985c3d9-637e-4ee6-b75f-367a5ceeac91.woff") format("woff"),
          url("../fonts/1558251/24d7e8cb-92d1-488a-9edd-bd0392b0e6f4.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family:"OfficinaSerif";
     src:url("../fonts/1558253/5d38603c-ea00-4626-b361-8430efb77da3.eot?#iefix");
     src:url("../fonts/1558253/5d38603c-ea00-4626-b361-8430efb77da3.eot?#iefix") format("eot"),
         url("../fonts/1558253/b6076983-92e1-46c1-b041-27bfd3308813.woff2") format("woff2"),
         url("../fonts/1558253/9cf992a6-e531-428f-8ac0-57bace81ce87.woff") format("woff"),
         url("../fonts/1558253/f8e75710-b139-42a5-809d-da28928f3479.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face{
  font-family:"OfficinaSerif";
      src:url("../fonts/1558255/3bb1bfce-3cc7-4722-9433-460d42d68f75.eot?#iefix");
      src:url("../fonts/1558255/3bb1bfce-3cc7-4722-9433-460d42d68f75.eot?#iefix") format("eot"),
          url("../fonts/1558255/1b5f23f9-d5a7-4c7d-a69c-313bf1e1b1d5.woff2") format("woff2"),
          url("../fonts/1558255/09d9f466-9bfc-4f52-b5c8-dbba3122aab2.woff") format("woff"),
          url("../fonts/1558255/44412b03-6b1d-496f-b4d1-494e48687a8e.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family:"OfficinaSerif";
      src:url("../fonts/1558257/498c4a59-9aa1-4353-b67d-615636f6fbd6.eot?#iefix");
      src:url("../fonts/1558257/498c4a59-9aa1-4353-b67d-615636f6fbd6.eot?#iefix") format("eot"),
          url("../fonts/1558257/7d2fa48b-7da4-4aec-9f88-50bcb2322071.woff2") format("woff2"),
          url("../fonts/1558257/37e34a64-a038-4bf0-a98e-77cb9e67f3a1.woff") format("woff"),
          url("../fonts/1558257/81fae678-273c-4081-9fa6-f9cb3a8f69e0.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family:"OfficinaSerif";
      src:url("../fonts/1558259/acd5d58e-30ab-47b6-b929-bfad01c18ad2.eot?#iefix");
      src:url("../fonts/1558259/acd5d58e-30ab-47b6-b929-bfad01c18ad2.eot?#iefix") format("eot"),
          url("../fonts/1558259/dfb61a74-be2a-47c7-8de2-a650fcf96721.woff2") format("woff2"),
          url("../fonts/1558259/cb362dfe-3971-4190-a40e-8a0921b52150.woff") format("woff"),
          url("../fonts/1558259/7c321c5b-06a8-4289-a144-3bbe23677fc1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:"OfficinaSerif";
     src: url("../fonts/1558261/2619b1db-0e7f-41c6-838b-ecb7e9df23d6.eot?#iefix");
     src: url("../fonts/1558261/2619b1db-0e7f-41c6-838b-ecb7e9df23d6.eot?#iefix") format("eot"),
          url("../fonts/1558261/282a7094-0a93-410f-937b-b247d17f59d5.woff2") format("woff2"),
          url("../fonts/1558261/50a7bbfb-9d03-48f7-9e3f-99cb66ee6b92.woff") format("woff"),
          url("../fonts/1558261/80224f2e-fa73-4b41-a09a-47e1116d31fb.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family:"OfficinaSerif";
     src:url("../fonts/1558263/a331960c-5cc0-41ec-ab91-e3b5ab5262f5.eot?#iefix");
     src:url("../fonts/1558263/a331960c-5cc0-41ec-ab91-e3b5ab5262f5.eot?#iefix") format("eot"),
         url("../fonts/1558263/0d50d8e7-24e1-4552-a8d9-624a0b3df9a6.woff2") format("woff2"),
         url("../fonts/1558263/d9c7cd31-ff27-48c6-8501-8762172932dc.woff") format("woff"),
         url("../fonts/1558263/b3368291-780c-4cfd-bc87-9090b70ce7de.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family:"OfficinaSerif";
      src:url("../fonts/1558265/5264cb9c-055b-45b0-8b72-2580f20e549a.eot?#iefix");
      src:url("../fonts/1558265/5264cb9c-055b-45b0-8b72-2580f20e549a.eot?#iefix") format("eot"),
          url("../fonts/1558265/9cee56ca-581b-4584-926b-bd1e0c1ab261.woff2") format("woff2"),
          url("../fonts/1558265/6853d79a-c437-4b70-9a51-ad96d8fc6865.woff") format("woff"),
          url("../fonts/1558265/415b354c-eef6-40c9-bfd3-e6ab9a10a448.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family:"OfficinaSerif";
      src:url("../fonts/1558267/a72cbfb9-51ee-4b4b-bda7-edf7539de231.eot?#iefix");
      src:url("../fonts/1558267/a72cbfb9-51ee-4b4b-bda7-edf7539de231.eot?#iefix") format("eot"),
          url("../fonts/1558267/efbe3ae5-4951-411a-8a1a-dc314e214184.woff2") format("woff2"),
          url("../fonts/1558267/b79172f0-98d3-4b5c-ba26-c97d8a471f39.woff") format("woff"),
          url("../fonts/1558267/5778dea9-d5e9-48a7-9b4d-18de87feb188.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face{
  font-family:"OfficinaSerif";
      src:url("../fonts/1558269/430083d1-2937-4bab-98cd-4950f7d63766.eot?#iefix");
      src:url("../fonts/1558269/430083d1-2937-4bab-98cd-4950f7d63766.eot?#iefix") format("eot"),
          url("../fonts/1558269/ce802aa9-068e-4212-a620-f034f0973988.woff2") format("woff2"),
          url("../fonts/1558269/8b913d97-4600-4c43-a99a-9180ac7d7a63.woff") format("woff"),
          url("../fonts/1558269/58a51c01-8cc6-4c66-ad5d-0b2c76820681.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}



//Icons
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lzzb8m');
  src:  url('../fonts/icomoon.eot?lzzb8m#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?lzzb8m') format('truetype'),
  url('../fonts/icomoon.woff?lzzb8m') format('woff'),
  url('../fonts/icomoon.svg?lzzb8m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bau-instagram:before {
  content: "\e910";
}
.icon-bau-twitter:before {
  content: "\e90d";
}
.icon-bau-linkedin:before {
  content: "\e90e";
}
.icon-bau-facebook:before {
  content: "\e90f";
}
.icon-envelope:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-bag_2:before {
  content: "\e901";
}
.icon-bag:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e904";
}
.icon-gallery:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-share:before {
  content: "\e908";
}
.icon-subnavigation:before {
  content: "\e909";
}
.icon-upload:before {
  content: "\e90a";
}
.icon-webmail:before {
  content: "\e90b";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-linkedin2:before {
  content: "\eaca";
}

