// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.main-content{
	position: relative;
	max-width: 1320px;
	margin: auto;
	height: 100%;
	
}


.js-masonry{
	float: left;
	width:100%;
}
.margin-top{}
.margin-bottom{}

.el__no-margin{
	margin: 0;
}
.el__no-padding{
	padding: 0;
}

.el_no-margin-padding{
	margin: 0;
	padding: 0;
}

.el__basic-float{
	float: left;
	width: 100%;
}

.el__absolute-center{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}


//sidebar icons

.sidebar-icon{
	width: 45px;
	margin-bottom: 3px;
	vertical-align: middle;
	@media only screen and (max-width: $screen-sm-max){
		width: 27px;
		&.costum-icon-share{
			width:32px !important;
		}
	}

	&.costum-icon-share{
		width:45px;
	}
}

.text-icon{
	position: absolute;
	bottom: -26px;
	right: 0;
	left: 0;

	@media only screen and (max-width: $screen-sm-max){
		bottom: -22px;
	}


}
