

html, body{
  height:100%;
  min-height:100%;
}
body {
  font-family: 'OfficinaSerif', sans-serif;
  font-size: 18px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased !important;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #001424;
  min-height: 100%;
}





