.blog-post-wrapper{

  @media(min-width: $screen-md-min ){
    //margin-top: 147px;
  }
  .blog-post{
    //@extend .el__basic-float;
    margin-bottom: 30px;
    float: left;
    width: 100%;

    .feature-image{
      position: relative;
      float: left;
      width: 100%;
      @media(max-width: $screen-md-min ){
        .btn-more{
          top: 10px !important;
        }
      }
      &.no-image{
        & + .blog-content{
          @media (min-width: $screen-md-min){
            margin-top: 0;
          }

          @media(max-width: $screen-md-max){
            a{
              h3{
                margin-left: 85px;
              }
            }
          }
        }

        .btn-more{
          bottom: -80px;
          @media(max-width: $screen-md-min){
            left:30px;
          }

          z-index:1;

        }
      }

      @media(min-width: $screen-md-min ) {
        & + .blog-content {
          @media (min-width: $screen-md-min) {
            //top: -140px;
            min-height: 210px;
          }
        }
      }
      img{
        width:100%;
      }


      .btn-more{
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

    }

    .blog-content{
      background-color: rgba(#cce2f0, .8);
      padding: 30px;
      float: left;
      padding-bottom: 80px;

      @media(max-width: $screen-xs-max){
        margin-top: 0 !important;

      }


      a {
        color: #002642;
      }

      i{
        color: $red-dark-color;
      }

      .btn-more{
        position: absolute;
        right:10px;
        bottom: 10px;
        color: #7dadce;
        i{
          color: #7dadce;
        }

      }
    }
  }
}