.contact-content{
  background-color: #f1eef1;
  padding: 10px 20px 10px 10px;
  //min-height:calc(100vh - 100px);

  @extend .el__basic-float;

  @media (min-width: $screen-sm-min){
    min-height:calc(100vh - 100px);
    padding: 60px 80px 30px 80px;
  }


  h1, h3{
    font-size: 18px;
    color: #581f2b;

  }

  p{
    margin-bottom: 0;
    color: #581f2b;
  }




}


.article-icons{
  @extend .el__basic-float;
}


.map{
  width:100%;
  height:250px;
  float: left;
  margin-bottom: 10px;
}

.contact-box{

  .item-description{
    //margin-bottom: 0;
  }

}