.gallery-thumbnail{
  margin-bottom: 10px;
  .years-wrap{
    display: table;
    width:100%;
    .years-box{
      background: rgba(#eb8d7c, .65);
      height:100%;
      width:100%;
      display: table-cell;
      vertical-align: middle;
      padding: 20px;
      h2{
        margin:0;
        display: block;
        text-align: center;
        color: rgba(#fff, .5);
        font-size: 46px;
        @media(max-width: $screen-sm-max){
          font-size: 30px;
        }
      }

      @media(min-width: $screen-lg-min){
        height:309px;
      }
      @media(max-width: $screen-md-max){
        height:266px;
      }
      @media(max-width: $screen-sm-max){
        height:233.33px;
      }
    }
  }

  img{
    max-width:100%;
  }

  .album-description{
    background-color: $red-light-color;
    padding: 10px;
    min-height: 50px;
    h3{
      margin:0;
      font-size:16px;
      font-weight: 400;
      color: $red-dark-color;
      text-transform: uppercase;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media(min-width: $screen-md-min){
        font-size: 18px;
      }
    }
  }
}

.group-gallery{
  display: none;


}
