// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------



.masonry-item{
  position: relative;

  &.iframe{
    background-color: #000;
    @media(min-width: $screen-sm-min){
      width: calc(100% + 1px);
    }
  }

  @extend .el__no-padding;
  @media (min-width: $screen-lg-min){
    max-height: 380px;
  }


  img{
    width:100%;
    height:auto;
  }

  .image-holder{
    position: relative;

    .btn-more{
      position: absolute;
      bottom:10px;
      right:10px;
    }

  }


  iframe{
    width:100%;
    @media(min-width: $screen-lg-min){
      height: 310px;
    }

    @media(max-width: $screen-md-max){
      height:266px;
    }

    @media(max-width: $screen-sm-max){
      height:232.98px;
    }

  }


  .item-content{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    h4{
      color: #fff;
      margin: 0;
      text-transform: uppercase;
      padding: 5px;
      letter-spacing: 1.3px;
      background: rgba(74, 74, 74, 0.42);
      display: inline-block;
      margin-left: 10px;
      margin-top: 10px;
      margin-right: 10px;
      font{
        size: 20px;
      }
    }
  }
}
