.news{
  //margin-left: -10px;
  //margin-right: -10px;
  //height:100% !important;
  clear: both;
}

.item-description{
  background-color: $blue-light-color;
  padding: 0 10px 10px 10px;
  float: left;
  width:100%;
  margin-bottom: 10px;
  
  h3, p{
    color: #000;
  }


  p{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 75px;
    min-height: 78px;
  }



  h3{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 400;
  }
}

//Loader



#loader {
  animation: animate 1s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  z-index: 9;
  display: none;
}
@keyframes animate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(220deg)
  }
}
#loader:after {
  animation: animate2 1s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}
@keyframes animate2 {
  0% {
    box-shadow: inset #dc2f33 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #dc2f33 0 0 0 2px;
  }
  100% {
    box-shadow: inset #dc2f33 0 0 0 17px;
    transform: rotate(140deg);
  }
}