.main-single-content{
  background-color: #f1eef1;
  padding: 10px 20px 10px 10px;


  @extend .el__basic-float;
  @media (min-width: $screen-md-min){
    min-height:calc(100vh - 100px);
    padding: 60px 80px 30px 80px;
  }



  h1, h2, h3, h4, h5, h6{
    color: $red-dark-color;
    //font-family: 'Myriad Pro', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
  }

  h1{
    margin-bottom:40px;
  }


  p{
    color: $red-dark-color;
    //font-family: 'Myriad Pro', sans-serif;
    margin-bottom: 30px;
  }
}


.article-icons{
  @extend .el__basic-float;
  position: relative;
}


.btn-share{
  position: relative;
  outline: 0;
  border: 0;
  margin-left: 10px;
}

.share-buttons{
  padding: 0;
  margin: 0;
  margin-left: 20px;
  float: left;
  display: none;

  li{
    display: inline-block;
    background-color: $blue-color;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    line-height: 70px;

    &:hover{
      opacity:.8;
    }


    i{
      color: #f1f1f1;
      text-align: center;
      font-size: 46px;
      line-height: 73px;
      width: 100%;
      display: block;
    }
  }
}